.text-align-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

.button {
    box-shadow: none !important;
}

.themecolor {
    color: #17a2b8;
}

.bg-secondary-color {
    background-color: #90f0ff;
}
