.text-align-center {
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}

.w10 {
    width: 10%;
}

.mw800 {
    max-width: 800px;
}

.button {
    box-shadow: none !important;
}

.themecolor {
    color: #17a2b8;
}

.bg-secondary-color {
    background-color: #90f0ff;
}

.block {
    display: block;
}

.wordwrap {
    word-wrap: break-word;
}
